# MongoDB Atlas Connection String
# Example: mongodb+srv://username:password@cluster0.xxxx.mongodb.net/myDatabase?retryWrites=true&w=majority
MONGODB_URI=

# Port for the Node.js / Express Server (default: 3000)
PORT=3000

# Node Environment ('production' in deployed environments, 'development' locally)
NODE_ENV=production
